<h1 id="top-heading">CRUD Application Using Angular and .NET</h1>
<table id="employees-table">
    <thead id="employees-table-head">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody id="employees-table-body">
        <tr class="employee-row" *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.department}}</td>
        </tr>
    </tbody>
</table>