* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-heading {
    /* border: 1px solid; */
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#employees-table {
    width: 65rem;
    margin-top: 1.25rem;
    border-radius: 8px;
}

#employees-table-head {
    outline: 2px solid black;
}

.th-tr-heading {
    text-align: left;
    padding: 0.125rem 0.5rem;
}

.tbody-td {
    text-align: left;
    padding: 0.25rem 0.5rem;
}

.employee-row {
    outline: 1px solid red;
}